language: node_js

node_js:
 - 6
 - 4

sudo: false

services:
 - mysql
 - postgresql

env:
  global:
    - MYSQL_CONN=mysql://root@localhost/
    - PG_CONN=postgres://postgres@localhost/postgres

script:
 - npm run lint
 - npm run cover

after_success:
 - 'nyc report --reporter=lcov > coverage.lcov && bash <(curl -s https://codecov.io/bash) -f coverage/lcov.info'
  - npm run semantic-release

before_deploy:
 - npm run typedoc
deploy:
  skip_cleanup: true
  provider: surge
  project: ./typedoc/
  domain: node-sql-template-strings.surge.sh

branches:
  except:
    - /^v\d+\.\d+\.\d+$/
